    <footer>
      <div class="footer">
        <ul class="footer-ul">
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <p>Copyright &copy; Home Deco 2021</p>
      </div>
    </footer>
  